/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require normalize-rails
 *= require_tree .
 *= require_self
 */

 .google_survey {
   height: 100%;
   width: 100%;
 }

 .container-fluid{
  //  background-color: black;
   min-height: 100%;
   width: 100%;
   /*text-align: center;*/
 }
 .row{
   margin: 0 auto;
 }

 .salfmade_logo {
   margin: 7% 0 7% 0;
 }

 .link {
   color: white;
   text-decoration: none;
   height: 2%;
   /*font-size: 300%;*/
   /*margin:0 auto;*/
   /*margin-left: 10%;*/
 }

 .row {
   /*text-align: center;*/
 }
 .landing_page_img{
   /*min-height: 70%;*/
   /*margin-left: 10%*/
   border: 0;
 }

 .enter_text{
   margin-top: 25%;
   /*max-height: 2%;*/
 }
